In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [10]:
df = pd.read_csv('iris_csv.csv')

In [28]:
df.head(100)

    sepallength  sepalwidth  petallength  petalwidth            class
0           5.1         3.5          1.4         0.2      Iris-setosa
1           4.9         3.0          1.4         0.2      Iris-setosa
2           4.7         3.2          1.3         0.2      Iris-setosa
3           4.6         3.1          1.5         0.2      Iris-setosa
4           5.0         3.6          1.4         0.2      Iris-setosa
..          ...         ...          ...         ...              ...
95          5.7         3.0          4.2         1.2  Iris-versicolor
96          5.7         2.9          4.2         1.3  Iris-versicolor
97          6.2         2.9          4.3         1.3  Iris-versicolor
98          5.1         2.5          3.0         1.1  Iris-versicolor
99          5.7         2.8          4.1         1.3  Iris-versicolor

[100 rows x 5 columns]

In [14]:
df.isnull().sum()

sepallength    0
sepalwidth     0
petallength    0
petalwidth     0
class          0
dtype: int64

In [15]:
from sklearn.linear_model import LogisticRegression

In [17]:
x = df.drop(['class'],axis=1)

In [18]:
y = df['class']

In [19]:
model = LogisticRegression(class_weight ='balanced')

In [20]:
model.fit(x,y)
y_pred = model.predict(x)

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
accuracy_score(y,y_pred)

0.9733333333333334

In [24]:
model.predict([[5.1,3.5,1.4,0.2]])[0]

'Iris-setosa'

In [25]:
with open('iris.pkl','wb') as f:
    pickle.dump(model,f)

In [27]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64